@import '~antd/dist/antd.css';


html, body , #root {
    width: 100%;
    height: 100%;
}


.rlist {
    display: flex;
    flex-wrap: wrap;
}

.rlist p {
    word-wrap: break-word;
}

#index {
    display: block;
}

#content {
    display: flex;
}

#loginForm {
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    height: 5vh;
}
#loginForm .login-form {
  max-width: 1000px;
  width: 30vw;
}
#loginForm .login-form-forgot {
  float: right;
}
#loginForm .login-form-button {
  width: 100%;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);  
  margin: 16px 28px 16px 0;
  line-height: 31px;
  text-align: center;
  float: left;
  color: white;
}